{% extends "base_content.html" %}
{% block page_center %}

{% block full_width_banner %}{% endblock %}

<div id="wrapper">
    {% block site_width_banner %}{% endblock %}
    
    <div id="room">
        <div id="CALeft">
            {% block content%}
            {% endblock%}

        </div>
        <div id="CARight">

            <div class="searchWidgetWrapper"> 
                <a href="https://www.goibibo.com/" target="_blank">
                    <img src="/m/default/media/images/booknow.png" alt="booknow" />
                </a>
            </div>

            <div class="boxC ibiboProducts">

                <h3 class="ibiboPro">Ibibo Products</h3>

                <div class="logoWraper">

                    <div class="goLogo">
                        <img src="/m/default/media/images/goibibologo.png" alt="goibibologo" />
                        <a class="gowebUrl" href="https://www.goibibo.com/" target="_blank">goibibo &#8594;</a>
                    </div> 

                    <div class="redbuslogo">
                        <img src="/m/default/media/images/redbuslogo.png" alt="redBuslogo" />
                        <a class="gowebUrl" href="http://www.redbus.in/" target="_blank">redbus &#8594;</a>
                    </div>  

                    <div class="rydelogo">
                        <img src="/m/default/media/images/ryde.png" alt="ryde" />
                        <a class="gowebUrl" href="http://www.ibiboryde.com/" target="_blank">ibiboryde &#8594;</a>
                    </div> 

                </div>

            </div>    


            <div class="searchWidgetWrapper"> 
                <a href="https://www.goibibo.com/review-and-rating/" target="_blank"> 
                    <img src="/m/default/media/images/review-rating.png" alt="Review Rating" /> 
                </a>
            </div>

            <div class="searchWidgetWrapper"> 
                <a href="https://www.goibibo.com/review-and-rating/" target="_blank">
                    <img src="/m/default/media/images/travelguide.png" alt="travelguide" />
                </a>
            </div>

            {% block sidebar%}
            {% endblock%}
        </div>
        <div id="tail" style="clear:both;">
            {% block tail %}
            {% endblock %}
        </div>
    </div>
    <div class="spacer3"></div>
</div>
{% endblock %}

